@inherits FluxorComponent
@inject IState<KanbanState> State
@inject StateFacade Facade

<div class="board-details">
    @if (State.Value.Board is not null)
    {
        <p>@State.Value.Board.name</p>
        @if (State.Value.Board.columns != null)
        {
            foreach (var column in State.Value.Board.columns)
            {
                @column.name

                @if (column.tasks != null)
                {
                    foreach (var task in column.tasks)
                    {
                        <p>@task.description</p>
                        <p>@task.title</p>
                        <p>@task.status</p>

                        @if (task.subtasks != null)
                        {
                            foreach (var subTask in task.subtasks)
                            {
                                <p>@subTask.title</p>
                                <p>@subTask.isCompleted</p>
                            }
                        }
                    }
                }
            }
        }
    <button @onclick="() => Facade.DeleteBoard(State.Value.Board.name)">delete</button>
    }

    <button @onclick="UpdateBoard">Update</button>

    @if (_isUpdateShowing)
    {
        <UpdateBoardComponent OnEdit="CloseUpdate" />
    }
</div>


@code {
    private bool _isUpdateShowing;

    private void UpdateBoard()
    {
        _isUpdateShowing = true;
    }

    private void CloseUpdate()
    {
        _isUpdateShowing = false;
    }

}
