@using Task = KanBanApp.Models.Task
@inherits FluxorComponent
@inject IState<KanbanState> State
@inject StateFacade Facade

@if (State.Value.Board is not null)
{
    <div class="board-details">
        <div class="board-details-header">
            <p class="board-name">@State.Value.Board.name</p>
            <button @onclick="() => _isAddTaskShowing = true" class="add-task-btn btn">+ Add New Task</button>
            <div class="edit-delete-handler">
                <button @onclick="() => _isCrudShowing = !_isCrudShowing" class="btn">
                    <img src="assets/icon-vertical-ellipsis.svg" alt="" />
                </button>
                <div class="edit-delete-modal @(_isCrudShowing? "hide" : "")">
                        <button class="btn edit-board-btn" @onclick="() => _isUpdateShowing = true">
                            <i class="fa-regular fa-pen-to-square crud-icon"></i>
                            Edit Board
                        </button>
                        <button class="btn delete-board-btn" @onclick="DeleteBoard">
                            <i class="fa-regular fa-trash-can crud-icon"></i>
                            Delete Board
                        </button>
                    </div>
            </div>
        </div>
        <div class="columns">
            @foreach (var column in State.Value.Board.columns!)
            {
                <div class="column">
                    <p class="column-name">
                        @column.name (@column.tasks.Count)
                    </p>

                    <div class="tasks">
                        @foreach (var task in column.tasks)
                        {
                            <div @onclick="() => ShowTaskDetails(task)" class="task">
                                <p>@task.title</p>
                                <p class="number-of-subtasks">
                                    @task.subtasks.Count(s => s.isCompleted)
                                    of
                                    @task.subtasks.Count
                                    subtasks
                                </p>
                            </div>
                        }

                    </div>
                </div>
            }
            <button @onclick="() => _isAddColumnShowing = true">+</button>
        </div>
    </div>
}

@if (_isTaskDetailsShowing)
{
    <TaskDetailsComponent OnTaskDelete="() => _isTaskDetailsShowing = false"
                      OnStatusSelect="() => _isTaskDetailsShowing = false" />
}

@if (_isUpdateShowing)
{
    <UpdateBoardComponent OnEdit="() => _isUpdateShowing = false" />
}

@if (_isAddTaskShowing)
{
    <AddTaskComponent OnAddTask="() => _isAddTaskShowing = false" />
}

@if (_isAddColumnShowing)
{
    <AddNewColumnComponent OnAddColumn="() => _isAddColumnShowing = false" />
}


@code {
    private bool _isUpdateShowing;
    private bool _isTaskDetailsShowing;
    private bool _isAddTaskShowing;
    private bool _isAddColumnShowing;
    private bool _isCrudShowing;

    private void ShowTaskDetails(Task task)
    {
        _isTaskDetailsShowing = true;
        Facade.LoadTask(task);
    }

    private void AddNewColumn()
    {
        State.Value.Board.columns!.Add(new Column
            {
                name = "",
                tasks = new List<Task>()
            });
    }

    private void DeleteBoard()
    {
        Facade.DeleteBoard(State.Value.Board.name);
        Facade.SetCurrentBoard(State.Value.Boards.FirstOrDefault().name);
    }
}
