@using Task = KanBanApp.Models.Task
@inherits FluxorComponent
@inject IState<KanbanState> State
@inject StateFacade Facade

@if (State.Value.Board is not null)
{
    <div class="board-details">
        <div class="board-details-header">
            <p class="board-name">@State.Value.Board.name</p>
            <button class="add-task-btn">+ Add New Task</button>
            <button class="edit-delete-btn">
                <img src="assets/icon-vertical-ellipsis.svg" alt="" />
            </button>
            <button @onclick="() => Facade.DeleteBoard(State.Value.Board.name)">delete</button>
            <button @onclick="() => _isUpdateShowing = true">Update</button>
        </div>
        <div class="columns">
            @foreach (var column in State.Value.Board.columns!)
            {
                <div class="column">
                    <p class="column-name">
                        @column.name (@column.tasks.Count)
                    </p>

                    <div class="tasks">
                        @foreach (var task in column.tasks)
                        {
                            <div @onclick="() => ShowTaskDetails(task)" class="task">
                                <p>@task.title</p>
                                <p class="number-of-subtasks">
                                    @task.subtasks.Count(s => s.isCompleted)
                                    of
                                    @task.subtasks.Count
                                    subtasks
                                </p>
                            </div>
                        }

                    </div>
                </div>
            }

        </div>
    </div>

}

@if (_isTaskDetailsShowing)
{
    <TaskDetailsComponent OnTaskDelete="() => _isTaskDetailsShowing = false"
                      OnStatusSelect="() => _isTaskDetailsShowing = false" />
}

@if (_isUpdateShowing)
{
    <UpdateBoardComponent OnEdit="() => _isUpdateShowing = false" />
}


@code {
    private bool _isUpdateShowing;
    private bool _isTaskDetailsShowing;

    private void ShowTaskDetails(Task task)
    {
        _isTaskDetailsShowing = true;
        Facade.LoadTask(task);
    }
}
