@page "/board/{name}"
@inherits FluxorComponent
@inject IKanbanService KanbanService
@inject IState<KanbanState> KanBanState

@foreach (var board in KanbanService.GetBoardDetails(Name)!)
{
    <p>@board.name</p>
    @if (board.columns != null)
    {
        foreach (var column in board.columns)
        {
            @column.name

            @if (column.tasks != null)
            {
                foreach (var task in column.tasks)
                {
                    <p>@task.description</p>
                    <p>@task.title</p>
                    <p>@task.status</p>

                    @if (task.subtasks != null)
                    {
                        foreach (var subTask in task.subtasks)
                        {
                            <p>@subTask.title</p>
                            <p>@subTask.isCompleted</p>
                        }
                    }
                }
            }
        }
    }
}
<button @onclick="() => KanbanService.Delete(Name)">delete</button>

@code {
    [Parameter]
    public string Name { get; set; } = "";
}
